---
import PlayIcon from "@/icons/PlayIcon.astro";
import PauseIcon from "@/icons/PauseIcon.astro";
import SoundIcon from "@/icons/SoundIcon.astro";
import SoundMutedIcon from "@/icons/SoundMutedIcon.astro";

const { src = "" } = Astro.props;
---

<div
    id="audio-player"
    class="audio-player-container flex w-full items-center gap-x-2"
    x-data="{ playing: false, muted: false }"
>
    <audio src={src} preload="metadata"> </audio>
    <button
        id="play-button"
        class="hover:cursor-pointer flex items-center justify-center"
        @click="playing = !playing"
    >
        <span class="text-2xs">
            <span id="play-icon" x-show="!playing">
                <PlayIcon />
            </span>
            <span id="pause-icon" x-show="playing"> <PauseIcon /> </span>
        </span>
    </button>
    <span id="current-time" class="text-2xs">0:00</span>
    <!-- chrome/edge: "-webkit" -->
    <!-- firefox: "-moz" -->
    <input
        type="range"
        id="seek-slider"
        max="100"
        value="0"
        class="w-full range-slider"
    />
    <button
        id="sound-button"
        class="hover:cursor-pointer flex items-center justify-center"
        @click="muted = !muted"
    >
        <span id="sound-icon" x-show="!muted">
            <SoundIcon />
        </span>
        <span id="muted-icon" x-show="muted">
            <SoundMutedIcon />
        </span>
    </button>
    <span id="current-volume" class="text-2xs">100</span>
    <input
        type="range"
        id="volume-slider"
        max="100"
        value="100"
        class="w-14 volume-slider"
    />
</div>
<script>
    document.addEventListener("alpine:init", () => {
        const audioPlayer = document.getElementById("audio-player");
        const seekSlider = document.getElementById("seek-slider");
        const volumeSlider = document.getElementById("volume-slider");
        const audio = document.querySelector("audio");
        const playButton = document.getElementById("play-button");
        const soundButton = document.getElementById("sound-button");
        const currentTime = document.getElementById("current-time");
        const currentVolume = document.getElementById("current-volume");
        const audioPlayerData = Alpine.$data(audioPlayer);

        playButton?.addEventListener("click", () => {
            if (audioPlayerData.playing) {
                audio?.play();
                requestAnimationFrame(whilePlaying);
            } else {
                audio?.pause();
                cancelAnimationFrame(raf);
            }
        });

        soundButton?.addEventListener("click", () => {
            if (audioPlayerData.muted) {
                audio.muted = true;
            } else {
                audio.muted = false;
            }
        });

        seekSlider.addEventListener("input", (e) => {
            audioPlayer.style.setProperty(
                "--seek-before-width",
                (e.target.value / e.target.max) * 100 + "%",
            );
        });

        volumeSlider.addEventListener("input", (e) => {
            audioPlayer.style.setProperty(
                "--volume-before-width",
                (e.target.value / e.target.max) * 100 + "%",
            );
        });

        let raf = null;

        function calculateTime(secs) {
            const minutes = Math.floor(secs / 60);
            const seconds = Math.floor(secs % 60);
            const returnedSeconds = seconds < 10 ? `0${seconds}` : `${seconds}`;
            return `${minutes}:${returnedSeconds}`;
        }

        function setSliderMax() {
            seekSlider.max = Math.floor(audio.duration);
        }

        function displayBufferedAmount() {
            const bufferedAmount = Math.floor(
                audio.buffered.end(audio.buffered.length - 1),
            );
            audioPlayer.style.setProperty(
                "--buffered-width",
                `${(bufferedAmount / seekSlider.max) * 100}%`,
            );
        }

        function whilePlaying() {
            seekSlider.value = Math.floor(audio.currentTime);
            currentTime.textContent = calculateTime(seekSlider.value);
            audioPlayer.style.setProperty(
                "--seek-before-width",
                `${(seekSlider.value / seekSlider.max) * 100}%`,
            );
            raf = requestAnimationFrame(whilePlaying);
        }

        if (audio.readyState > 0) {
            setSliderMax();
            displayBufferedAmount();
        } else {
            audio.addEventListener("loadedmetadata", () => {
                setSliderMax();
                displayBufferedAmount();
            });
        }

        audio.addEventListener("progress", displayBufferedAmount);

        seekSlider.addEventListener("input", () => {
            currentTime.textContent = calculateTime(seekSlider.value);
            if (!audio.paused) {
                cancelAnimationFrame(raf);
            }
        });

        seekSlider.addEventListener("change", () => {
            audio.currentTime = seekSlider.value;
            if (!audio.paused) {
                requestAnimationFrame(whilePlaying);
            }
        });

        volumeSlider.addEventListener("input", (e) => {
            const value = e.target.value;

            currentVolume.textContent = value;
            audio.volume = value / 100;
        });
    });
</script>
