---
import { Image } from "astro:assets";

const { src, alt = "", class: className = "" } = Astro.props;
---

<div x-data={`{lightboxOpen: false}`} class="lightbox-wrapper">
    <!-- image itself acts as the button trigger -->
    <Image
        @click="lightboxOpen = !lightboxOpen"
        @keyup.escape="lightboxOpen = false"
        src={src}
        alt={alt}
        class={`cursor-zoom-in ${className}`}
    />

    <div
        x-show="lightboxOpen"
        @click="lightboxOpen = false"
        class="flex fixed inset-0 justify-center bg-foreground/30 items-center z-50"
    >
        <Image
            class="max-w-[70vw] max-h-[70vh] object-contain"
            src={src}
            alt={alt}
        />
    </div>
</div>
